// basic
$dark-gray: #151515;
$gray: #999;
$light_gray: #333;
$wight: #fff;
$green: #63cd42;
$light_green: #6dfe40;
$black: #000;

// input
$input_bg: #222;
$input_label: #a5a5a5;

// button
$hover_btn: #42b51f;
$btn_text: #0e0d0e;
$text_shadow: #329319;

//dropdown hover
$dropdown_hover: #303030;

// error
$main_error: #f2524e;
$secondary_error: #310403;

//header
$header_border: #2a2a2a;

//game block
$play-btn_border: #00cc41;
$play-btn_border-color: #00931b;

// footer background of steps
$footer-stap_bg: #1c1c1c;
$footer-bg: #2e2e2e;
$footer-text: #666;

//fonts
$roboto-cond: 'Roboto Condensed', sans-serif;
$roboto: 'Roboto', sans-serif;
