input {
  color: $gray;
  height: 38px;
  width: 100%;
  border: 1px solid $gray;
  font-size: 16px;
  padding: 0 18px;
  background-color: $input_bg;
  box-shadow: none;

  &:focus {
    font-style: italic;
    border: 1px solid $green;
    outline: none;
    color: $wight;
  }
}

select {

  &::-ms-expand {
    display: none;
  }

  &:focus {
    outline: none;
  }
}

